---
import VueCounter from "../components/Counter.vue";
import AstroCounter from '../components/Counter.astro'
---
<html>
<head>
    <title>Hello Astro</title>
</head>
<body>
<VueCounter client:visible/>
<AstroCounter/>
</body>
</html>
